[Unit]
Description="Django polls web application"

[Service]
Type=simple
ExecStart=/usr/share/polls/bin/gunicorn -c /etc/polls/gunicorn.conf.py mysite.wsgi
ExecReload=/bin/kill -HUP $MAINPID
User=djapp
LimitNOFILE=4096
Restart=on-failure

[Install]
WantedBy=multi-user.target
